In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('athlete_events.csv').set_index('ID')
noc = pd.read_csv('noc_regions.csv')

In [3]:
def merge_regions_from_noc(df, noc):
    return df.reset_index().set_index('NOC').join(
        noc.set_index('NOC')
    ).reset_index().sort_values('ID').set_index('ID')

In [4]:
df = merge_regions_from_noc(df, noc)

In [5]:
df.head()

,NOC,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal,region,notes
ID,,,,,,,,,,,,,,,,
1,CHN,A Dijiang,M,24.0,180.0,80.0,China,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
2,CHN,A Lamusi,M,23.0,170.0,60.0,China,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
3,DEN,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
4,DEN,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
5,NED,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN,Netherlands,NaN

In [6]:
df.columns

Index(['NOC', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region', 'notes'],
      dtype='object')

### Insert Cleaning HERE!!!

### Creating Required csvs here!!!

In [7]:
## participation from all countries over the years
part = df.groupby(['NOC', 'Year'], as_index=False).size()

part_df = part.to_frame().reset_index()
part_df['Count'] = part_df[0]
part_df.drop(0, axis=1, inplace=True)

In [22]:
part_df.to_csv('all_countries_participation.csv', index=False)

In [14]:
df[df.Medal.isin(['Gold', 'Silver', 'Bronze'])].groupby(['region', 'Year'])['region', 'Year', 'NOC'].size().to_frame().reset_index().to_csv('all_country_winning.csv', index=False)

In [9]:
part_df.head()

   NOC  Year  Count
0  AFG  1936     16
1  AFG  1948     25
2  AFG  1956     12
3  AFG  1960     16
4  AFG  1964      8